<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Document</title>
</head>
<body>
    <form id="form" action="">
        <label for="userName">Nombre De Usuario</label>
        <input id="name_input" type="text" name="userName">

        <label for="email_input">Correo Electronico</label>
        <input id="email_input" type="email" name="email_input">

        <label for="password">Contraseña</label>
        <input id="password_input" type="password" name="password" >

        <label for="match">Confirma Tu Contraseña</label>
        <input id="match_input" type="password" name="match" >

        <input id="button_input" disabled type="submit" value="Send">
    </form>


    <script src="/js/register.js"></script>
</body>
</html>